.tree li ul > li {
    display: none;
}
.tree {
    min-height:20px;
    padding: 0px;
}
 .tree li {
    list-style-type:none;
    margin:5px;
   padding:10px 5px 5px 5px;
   /* position:relative*/
}
 
.tree li.parent_li>span {
    cursor:pointer
}
